In [1]:
import pandas as pd

In [2]:
pd.read_excel("GA Bins.xlsx")

             City    1    2   3   4   5   6   7   8   9  10
0        Savannah   89   89  79  70  60  53  47  41  36  30
1            Alma   91   91  81  71  62  54  48  42  36  31
2       Brunswick   88   88  79  69  60  52  47  41  36  30
3          Albany   83   83  74  65  56  49  44  39  33  28
4        Valdosta   85   85  76  67  58  51  45  40  34  29
5           Macon   91   91  81  71  62  54  48  42  36  31
6   Warner Robins  103  103  92  81  70  61  54  48  41  35
7         Augusta   89   89  79  70  60  53  47  41  36  30
8         Atlanta   96   96  85  75  65  57  51  44  38  32
9       Doraville  102  102  91  80  69  60  54  47  41  34
10       Columbus   89   89  80  70  61  53  47  42  36  30
11       Marietta  109  109  97  86  74  65  58  51  44  37
12         Athens   90   90  81  71  61  54  48  42  36  31
13           Rome   99   99  88  78  67  59  52  46  40  34